body
{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

h1
{
    color: whitesmoke;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.unit
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 750px;
    background-color: rgb(0, 103, 0);
    border: 2px solid rgb(2, 50, 0);
    border-radius: 25px;
    box-shadow: 0px -20px 20px 5px rgb(0, 40, 4);
}

.head
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.head-side
{
    display: flex;
    width: 10%;
    justify-content: center;
}

.display
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(12, 12, 12);
    border: 1px solid black;
    box-shadow: 0px -2px 4px 0px inset;
    border-radius: 8px;
    width: 500px;
    height: 100px;
    text-align: center;
    letter-spacing: 5px;
    font-size: 48px;
    line-height: 200%;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
}

#powerOn
{
   background-color: rgb(198, 247, 247)
}

#displaytext
{
    margin: 0;
}


button
{
    box-shadow: 0px -4px 1px 1px;
    border-radius: 10px;
    font-size: 150%;
    background-color: rgb(167, 166, 165);
    
}

.buttons
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.operations button
{
    width: 102px;
    height: 50px;
    margin-top: 50px;
    margin-left: 3px;
    margin-right: 3px;
}

.digits
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    gap: 10px;
}

.digits button
{
    width: 140px;
    height: 60px;
}

#equal
{
    grid-row-start: 4;
    grid-column-end: 4;
}

#back
{
    grid-row-start: 5;
    grid-column-end: 4;
}

#power
{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 20px 20px 0px 0px;
    padding: 0;
    border: 1px;
    box-shadow: 0px -1px 1px 1px;
    background-color: brown;
    
    
}

#logo
{
    grid-row-start: 5;
    grid-column-end: 3;
    
}

